<!-- templates/accounts/register.html -->
{% extends 'base.html' %}

{% block title %}ثبت‌نام{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>ثبت‌نام کاربر جدید</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">ثبت‌نام</button>
                    </form>
                    <hr>
                    <p class="text-center">قبلا ثبت‌نام کرده‌اید؟ <a href="{% url 'accounts:login' %}">ورود</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}